<template>
  <div class="home">
    <event-tree :value="tree" />
  </div>
</template>

<script>
import EventTree from '@/components/EventTree.vue'

export default {
  name: 'Home',
  components: {
    EventTree
  },
  data: () => ({
    tree: [
      {
        "_id": "5d820c33647310e4a4f9845c",
        "name": {
          "first": "Chang",
          "last": "Miranda"
        },
        "about": "Amet mollit ea ullamco magna nisi sint in nulla fugiat ullamco. Commodo et ex excepteur magna et officia sunt. Voluptate officia non anim nostrud in esse minim ex sint. Officia excepteur excepteur sint voluptate ea ea laborum eu reprehenderit. Nulla nisi aliquip sunt aliquip incididunt ea elit laborum ad id sunt ipsum consequat. Ex voluptate ex laboris aliquip.",
        "registered": "Thursday, June 20, 2019 4:17 AM",
        "tags": [
          "commodo",
          "eiusmod"
        ]
      },
      {
        "_id": "5d820c335861d73a733a458f",
        "name": {
          "first": "Maureen",
          "last": "Nieves"
        },
        "about": "Dolore culpa sunt irure nostrud amet non eiusmod. Fugiat incididunt irure sunt ipsum cupidatat magna irure cupidatat. Elit ex culpa veniam commodo ut duis tempor.",
        "registered": "Sunday, May 12, 2019 8:39 AM",
        "tags": [
          "quis",
          "aliqua"
        ]
      },
      {
        "_id": "5d820c334bd15472a2b70fce",
        "name": {
          "first": "Kane",
          "last": "Dillon"
        },
        "about": "Minim sunt ut veniam sint nisi in sit occaecat consectetur occaecat esse occaecat sunt Lorem. Pariatur occaecat enim incididunt nisi quis sunt id sint consequat consectetur minim sit. Est culpa cillum aliquip eiusmod dolore consectetur consequat sint velit labore mollit duis sunt.",
        "registered": "Tuesday, May 22, 2018 6:42 PM",
        "tags": [
          "ex",
          "exercitation"
        ]
      },
      {
        "_id": "5d820c33c3914779868d9688",
        "name": {
          "first": "Whitaker",
          "last": "Cruz"
        },
        "about": "Tempor eu occaecat sint eu aliqua incididunt nisi cillum cupidatat. Id sit cupidatat commodo ex amet ipsum cillum aliquip sint dolor officia sint. Elit ea reprehenderit excepteur do nisi aute amet sint minim ea. Officia sunt laboris enim adipisicing amet ex dolore minim pariatur laboris esse nostrud. In nostrud culpa pariatur qui excepteur tempor in ullamco. Ad esse ad laboris ullamco.",
        "registered": "Thursday, May 11, 2017 10:16 PM",
        "tags": [
          "laboris",
          "esse",
          "pariatur"
        ]
      },
      {
        "_id": "5d820c33437eaa8cf859e301",
        "name": {
          "first": "Shelly",
          "last": "Blackwell"
        },
        "about": "Culpa eu duis exercitation incididunt ullamco in do ullamco. Voluptate ut ad sint eu deserunt excepteur Lorem pariatur adipisicing mollit Lorem excepteur pariatur. Cillum velit commodo ad quis irure aliqua duis cupidatat velit mollit amet ullamco ullamco ad. Pariatur proident elit exercitation sit. Ullamco in sunt excepteur laboris nulla do dolor deserunt ad adipisicing cillum. Dolore velit sit excepteur ipsum adipisicing culpa et veniam labore amet adipisicing. Lorem esse Lorem nostrud qui amet cupidatat sint ullamco irure laborum anim.",
        "registered": "Tuesday, May 15, 2018 2:04 AM",
        "tags": [
          "elit",
          "culpa"
        ]
      },
      {
        "_id": "5d820c33ac23f54788b008f2",
        "name": {
          "first": "Raymond",
          "last": "Salas"
        },
        "about": "Non aliqua consequat sunt nulla qui anim et occaecat officia. Duis sint dolor irure sit non eiusmod fugiat in. Incididunt qui nisi quis excepteur. Occaecat mollit esse esse proident consequat deserunt voluptate nulla.",
        "registered": "Sunday, September 24, 2017 12:33 AM",
        "tags": [
          "amet",
          "irure",
          "velit"
        ]
      },
      {
        "_id": "5d820c3396809b54de5dea7c",
        "name": {
          "first": "Brock",
          "last": "Flowers"
        },
        "about": "Sit incididunt enim anim est est. Mollit voluptate esse anim eu minim labore voluptate aliquip est elit reprehenderit. Lorem duis incididunt est laborum sint. Proident minim duis elit id eiusmod. Laborum ex commodo culpa aute deserunt dolor adipisicing magna occaecat velit ad exercitation fugiat. Veniam fugiat ipsum incididunt et pariatur elit dolor pariatur qui. Eiusmod dolor veniam sunt anim pariatur do sint duis ullamco eu laboris proident nulla.",
        "registered": "Sunday, November 19, 2017 11:49 AM",
        "tags": [
          "id"
        ]
      },
      {
        "_id": "5d820c33b05213ba87a045ea",
        "name": {
          "first": "Humphrey",
          "last": "Williamson"
        },
        "about": "Mollit eu non sit laboris consectetur incididunt reprehenderit. Labore Lorem ullamco dolor eiusmod tempor velit nostrud sit exercitation excepteur do reprehenderit. Nulla aute qui dolore aliqua. Labore do consectetur do nisi laboris enim duis cupidatat laboris dolor fugiat sit.",
        "registered": "Friday, April 27, 2018 7:54 AM",
        "tags": [
          "eiusmod",
          "duis"
        ]
      },
      {
        "_id": "5d820c339c408b0480f4d1f7",
        "name": {
          "first": "Ana",
          "last": "Houston"
        },
        "about": "Eu cillum id do Lorem adipisicing sint consectetur. Pariatur magna cupidatat aute nulla laborum ea amet reprehenderit fugiat qui labore. Aliquip tempor ut sunt qui id sint velit cillum commodo dolor dolore culpa. Sint do minim Lorem officia esse cupidatat incididunt ipsum deserunt magna est laboris voluptate. Est est anim voluptate pariatur sit. Ea sunt ullamco amet culpa.",
        "registered": "Thursday, August 22, 2019 11:02 PM",
        "tags": [
          "enim",
          "deserunt",
          "pariatur"
        ]
      },
      {
        "_id": "5d820c331428aeb78f9b896d",
        "name": {
          "first": "Opal",
          "last": "Carlson"
        },
        "about": "Aliqua consequat et do aute aute eu magna. Non esse ad occaecat qui voluptate laboris in dolor eu culpa amet. Voluptate ex nisi fugiat ullamco consequat qui voluptate commodo aute dolor occaecat ullamco et.",
        "registered": "Tuesday, July 30, 2019 10:31 AM",
        "tags": [
          "ea",
          "elit"
        ]
      },
      {
        "_id": "5d820c334b052f9e224bb98f",
        "name": {
          "first": "Lawson",
          "last": "Delgado"
        },
        "about": "Quis pariatur dolore est voluptate et. Et esse ea non commodo officia eiusmod dolor velit dolor. Tempor ea minim et ea nostrud.",
        "registered": "Friday, December 28, 2018 8:32 PM",
        "tags": [
          "in",
          "Lorem",
          "et"
        ]
      },
      {
        "_id": "5d820c330103815112a47414",
        "name": {
          "first": "Ayala",
          "last": "Spears"
        },
        "about": "Cupidatat eiusmod et dolor do aliqua quis deserunt officia minim officia. Laborum nisi ut ipsum voluptate velit. Irure fugiat reprehenderit velit est minim Lorem irure dolor pariatur. Sunt non exercitation fugiat cillum culpa voluptate eiusmod dolor eiusmod aliquip. Reprehenderit ex culpa culpa ullamco amet ad.",
        "registered": "Sunday, February 17, 2019 9:00 AM",
        "tags": [
          "incididunt"
        ]
      },
      {
        "_id": "5d820c332d874d159eb90399",
        "name": {
          "first": "Rosa",
          "last": "Wheeler"
        },
        "about": "Dolor anim sint consequat pariatur minim aliquip ea. Mollit sint enim voluptate sit mollit Lorem duis eu aliquip. Esse cillum excepteur aute incididunt laboris irure labore sint elit dolore duis fugiat magna. Nulla est qui dolor id laboris amet ex et. Excepteur sunt dolor deserunt deserunt est laborum et adipisicing dolore culpa sit.",
        "registered": "Tuesday, December 19, 2017 2:54 PM",
        "tags": [
          "Lorem",
          "reprehenderit",
          "consectetur"
        ]
      },
      {
        "_id": "5d820c33ae0b756d91c8ef23",
        "name": {
          "first": "Benita",
          "last": "Mullins"
        },
        "about": "Eiusmod consectetur fugiat ut excepteur exercitation sunt sint irure mollit ad eu elit do ut. Anim proident eu ex reprehenderit minim officia voluptate excepteur culpa officia aute tempor. Laborum fugiat aliquip ut id non fugiat duis exercitation qui dolore consectetur. Velit amet laboris magna nostrud eiusmod culpa exercitation excepteur. Excepteur tempor sunt consectetur sunt magna dolor ullamco dolore dolore. Occaecat ea eu nostrud laboris. Non qui do dolor in eu laboris adipisicing cupidatat cillum anim.",
        "registered": "Sunday, July 30, 2017 5:30 PM",
        "tags": [
          "pariatur",
          "anim",
          "Lorem"
        ]
      },
      {
        "_id": "5d820c3320e2838f0a9c3fe3",
        "name": {
          "first": "April",
          "last": "Bates"
        },
        "about": "Ad irure reprehenderit est do officia laboris minim officia dolor minim veniam. Aute ullamco in nisi incididunt reprehenderit sint id consectetur labore irure duis. Commodo laboris cupidatat quis labore exercitation tempor sunt. Et incididunt commodo excepteur consequat velit mollit nostrud aliquip et nisi. Occaecat sunt cupidatat ea exercitation cupidatat commodo aute dolor eu dolor.",
        "registered": "Tuesday, March 14, 2017 11:00 PM",
        "tags": [
          "incididunt",
          "ullamco"
        ]
      },
      {
        "_id": "5d820c3391cf7172aa54f98a",
        "name": {
          "first": "Jeanne",
          "last": "Waller"
        },
        "about": "Est cupidatat tempor pariatur consequat irure mollit ad magna id veniam ex minim elit dolore. In fugiat dolore ullamco Lorem ex do. Voluptate elit in irure occaecat exercitation amet elit sint culpa ex sunt nulla duis. Voluptate ipsum in id duis deserunt. Culpa commodo non aliqua deserunt cupidatat aliquip dolore ipsum aliqua est enim ex eu. Minim deserunt veniam laborum nulla excepteur nulla elit qui laborum magna. Fugiat proident qui deserunt ipsum non nisi id magna non dolor.",
        "registered": "Monday, February 18, 2019 12:58 AM",
        "tags": [
          "est"
        ]
      },
      {
        "_id": "5d820c33f8aefe4b939bcb5c",
        "name": {
          "first": "Hobbs",
          "last": "Blake"
        },
        "about": "Id eiusmod irure ipsum commodo fugiat culpa nulla eu ipsum voluptate. Ad consectetur consequat ea elit. Irure deserunt ex do deserunt aliquip labore laborum. Ex voluptate irure minim esse anim mollit reprehenderit.",
        "registered": "Sunday, January 22, 2017 11:42 PM",
        "tags": [
          "sunt",
          "eiusmod"
        ]
      },
      {
        "_id": "5d820c33960e6b2a56838126",
        "name": {
          "first": "Dianne",
          "last": "Durham"
        },
        "about": "Voluptate deserunt sunt consequat duis est labore elit sint proident magna exercitation elit ullamco incididunt. Fugiat non aute in consequat laborum irure et et in aliqua id dolore nostrud est. Irure nulla in quis proident aute anim aute mollit excepteur dolor aliqua Lorem aute. Nostrud enim aute et sit voluptate in ea mollit duis consequat. Occaecat nisi consectetur incididunt incididunt. Eu eu voluptate aliquip aliquip ea.",
        "registered": "Monday, June 11, 2018 10:57 PM",
        "tags": [
          "exercitation",
          "enim",
          "minim"
        ]
      },
      {
        "_id": "5d820c3351a534336fe02075",
        "name": {
          "first": "Rich",
          "last": "Haynes"
        },
        "about": "Aliqua consequat Lorem dolore sint incididunt qui incididunt enim eu. Occaecat enim et eiusmod deserunt ipsum nulla deserunt et. Quis non proident sunt nisi minim commodo ex tempor. Quis incididunt ea qui elit aliquip. Ex duis et sunt irure deserunt sunt do magna. Quis ut fugiat est voluptate occaecat pariatur ea.",
        "registered": "Friday, September 6, 2019 3:37 AM",
        "tags": [
          "cupidatat",
          "reprehenderit"
        ]
      }
    ]
  })
}
</script>
