<template>
  <div class="event-tree">
    <event
        class="event-tree__event"
        v-for="(event, index) in events"
        :key="index"
        :value="event"
    />
  </div>
</template>

<script>
import Event from '@/components/Event.vue'

export default {
  name: 'EventTree',
  components: {
    Event
  },
  props: {
    value: {
      type: Array,
      required: false,
      default: []
    }
  },
  data: () => ({
    events: []
  }),
  watch: {
    value: {
      immediate: true,
      handler: 'handleValueChange'
    }
  },
  methods: {
    extractDate(item) {
      try {
        return (typeof item.registered !== 'undefined') ? new Date(item.registered) : null
      } catch (e) {
        return null
      }
    },
    extractEvents(value) {
      return value
          .map(item => Object.assign(item, {registered: this.extractDate(item)}))
          .filter(item => Boolean(item.registered))
          .sort((itemA, itemB) => (itemB.registered - itemA.registered))
    },
    handleValueChange(value) {
      this.events = this.extractEvents(value)
    }
  }
}
</script>

<style scoped>
  .event-tree {
    width: 26rem;
    margin: 2rem auto;
  }
  .event-tree__event {
    width: 10rem;
  }
  .event-tree__event:nth-child(even) {
    margin-left: 16rem;
  }
</style>
