<template>
  <div class="event">
    <div v-if="value.name && (value.name.first || value.name.last)">
      {{ value.name.first }} {{ value.name.last }}
    </div>
    <div v-if="value.registered">
      {{ (value.registered instanceof Date) ? value.registered.toLocaleString('cs') : value.registered.toString() }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Event',
  props: {
    value: {
      type: Object,
      required: false,
      default: () => ({})
    }
  }
}
</script>

<style scoped>
  .event {
    border: #666 1px solid;
    padding: .5rem 1rem;
  }
</style>
